@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: hsl(217, 10, 25);
  --background: hsl(0, 0, 90);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: 0, 0, 0;
    --background: 214, 219, 220;
  }
}

body {
  color: rgb(var(--color));
  background: rgb(var(--background));
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

@layer base {
  h1,
  h2 {
    @apply text-2xl text-gray-900 font-bold;
  }

  h3 {
    @apply text-sm text-gray-900 font-bold;
  }
}

@layer components {
  .btn-small {
    @apply p-2 min-w-[100px] bg-primary rounded text-xs font-bold text-white text-center hover:saturate-150 transition-transform;
  }

  .btn-big {
    @apply p-3.5 min-w-[296px] bg-primary rounded text-base font-bold text-white text-center hover:saturate-150 transition-transform;
  }
}
