@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #393e46;
  --background: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #393e46;
    --background: #e6e6e6;
  }
}

body {
  color: var(--color);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

@layer base {
  h1,
  h2 {
    @apply text-2xl text-gray-900 font-bold;
  }

  h3 {
    @apply text-sm text-gray-900 font-bold;
  }

  label {
    @apply mt-2;
  }

  input,
  textarea {
    @apply rounded text-sm text-gray-300 bg-white p-3.5 focus:text-gray-700;
  }

  input[type='checkbox'] {
    @apply h-[24px] w-[24px] outline-none;
  }
}

@layer components {
  .btn-small {
    @apply p-2 min-w-[100px] bg-primary rounded text-xs font-bold text-white text-center hover:saturate-150 transition-transform;
  }

  .btn-big {
    @apply p-3.5 bg-primary rounded text-base font-bold text-white text-center hover:saturate-150 transition-transform;
  }
}
